
.detail-header{
    height: 380px;
    width: 100%;
    background: linear-gradient(to right, #E8CBC0, #636FA4);
    display: flex;
    
}
.detailTrack-img img{
    width: 350px;
    height: 330px;
}
.detailTrack-img{
    width: 30%;
}
.header-content{
    padding: 24px;
    display: flex;
    width: 100%;
}
.TrackContent-Title-player{
    display: flex;
    width: 70%;
    padding: 10px;
}
.detailPlay-button{
    background: #ff5500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
.detailPlay-button img{
    height: 35px;
    width: 35px;
}
.detail-containerUserName{
    margin-left: 10px;
}
.detail-trackName{
    background-color: rgba(0,0,0,.8);
    color: #fff;
    font-size: 24px;
    padding: 0 10px 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 37px;
    font-weight: 300;
}
.detail-userName{
    background-color: rgba(0,0,0,.8);
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px 0 10px;
    margin-top: 6px;
}